@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=block");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
